---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<button
  class="py-2 px-4 w-full text-xl text-white lg:text-2xl font-semibold tracking-wide bg-violet-500 rounded-lg cursor-pointer select-none
active:translate-y-0.5 active:[box-shadow:0_0px_0_0_#5d0ec0,0_0px_0_0_#5d0ec0]
active:border-b-transparent
transition-all duration-100 [box-shadow:0_5px_0_0_#5d0ec0,0_5px_0_0_#5d0ec0] md:lg:xl:2xl:[box-shadow:0_8px_0_0_#5d0ec0,0_8px_0_0_#5d0ec0]
border-b-[1px] border-violet-800"
  >{title}
</button>
