---
import { Image } from "astro:assets";
// import testImage from "../assets/Chokurei.svg";
// import testImage from "../assets/openhands.jpg";
// import testImage from "../assets/images/lotus.jpg";
import testImage from "../assets/images/meditation-square.jpg";
---

<div class="py-2 px-2 mx-auto max-w-screen-xl text-center md:px-8 lg:py-16">
  <div class="grid gap-5 grid-cols-1 md:grid-cols-1 lg:gap-4 lg:grid-cols-2">
    <div class="flex mx-auto my-auto w-full h-full lg:w-auto lg:h-auto">
      <Image
        src={testImage}
        alt="ChokuReiSymbol"
        class="justify-center items-center mx-auto max-w-md max-h-auto"
      />
      <!-- <svg
        width="200"
        height="266"
        version="1.1"
        class="overflow-visible w-52 h-auto p-5 aspect-auto mx-auto justify-center content-center lg:w-max lg:h-max md:right-11 md:max-w-md md:w-auto md:my-auto"
      >
        <metadata id="metadata7">image/svg+xml</metadata>
        <g>
          <title>Layer 1</title>
          <g id="layer1">
            <path
              class="fill-zinc-500"
              id="path3668"
              d="m88.88288,251.78797l0,-13.78801l-4.75,-0.0131c-7.17734,-0.0198 -21.86082,-3.35066 -30.34949,-6.8845c-22.58846,-9.4036 -39.92594,-27.97891 -48.01294,-51.44089c-9.07067,-26.31582 -5.15459,-59.4487 9.66036,-81.73358c14.10128,-21.21134 37.6024,-35.47855 64.85084,-39.37005l8.10123,-1.15698l0.26843,-23.20043l0.26843,-23.20043l-42.51843,0c-41.1851,0 -42.58115,-0.0627 -44.51843,-2c-2.5955,-2.5955 -2.52344,-4.15962 0.31445,-6.82569c2.30877,-2.16897 2.43021,-2.17431 49.48467,-2.17431l47.17021,0l0.26534,28.75l0.26533,28.75l7.98754,0.72371c33.23074,3.01085 65.28827,24.69319 80.57347,54.49644c7.95835,15.51728 12.63966,36.64503 11.48199,51.82071c-3.09224,40.53557 -23.96665,71.84207 -59.08965,88.61996c-11.88441,5.67705 -28.37383,10.17742 -42.20335,11.51832l-9.25,0.89688l0,-13.78801l0,-0.00004zm28,-0.98304c9.66005,-2.51378 19.36575,-6.60487 28.34589,-11.94819c9.37471,-5.5781 24.83634,-21.0993 30.24027,-30.35678c24.2861,-41.60452 14.40962,-94.00448 -22.93838,-121.70028c-13.45389,-9.97687 -30.74387,-16.80125 -46.50067,-18.35388l-7.14711,-0.70426l0,8.53537l0,8.53537l5.25,0.68439c2.8875,0.37641 9.27561,2.01458 14.19579,3.64037c39.44174,13.03287 59.66814,54.82138 46.03648,95.1131c-7.55573,22.33285 -28.46993,42.13061 -51.98227,49.20738c-4.4,1.32432 -9.2375,2.67171 -10.75,2.9942c-2.74061,0.58434 -2.75,0.61563 -2.75,9.16113l0,8.57479l5.25,-0.71552c2.8875,-0.39353 8.625,-1.59377 12.75,-2.66719zm-28.5,-33.71227l0,-10.37991l-8.75605,-1.77271c-23.26676,-4.71049 -41.60753,-21.53791 -46.80182,-42.94008c-1.80963,-7.45628 -1.60619,-22.08099 0.41734,-30c5.38519,-21.07482 19.71441,-36.38257 40.75613,-43.53932c3.97909,-1.35337 8.24408,-2.46068 9.47777,-2.46068c5.02854,0 5.40663,-0.67687 5.40663,-9.67894l0,-8.46497l-5.75,0.69829c-15.34305,1.8633 -32.80191,9.27276 -44.40936,18.84713c-24.25788,20.00903 -33.86704,56.65098 -23.22976,88.58041c9.17824,27.54987 33.94471,47.52986 63.19931,50.98513c10.38548,1.22662 9.68981,1.93554 9.68981,-9.87435zm25.14085,4.97125c20.77037,-8.04315 37.72355,-26.73533 42.74338,-47.12784c2.04011,-8.28774 2.08929,-23.6531 0.10074,-31.47601c-5.54338,-21.80751 -23.73386,-40.19381 -45.48497,-45.97462c-3.025,-0.80396 -6.9625,-1.46708 -8.75,-1.47361l-3.25,-0.0119l0,6.7712l0,6.7712l6.16123,1.1709c8.50955,1.61717 18.35345,6.70614 24.11285,12.46555c17.21136,17.21135 15.74896,50.72573 -3.034,69.53127c-5.89223,5.89931 -12.13144,9.41721 -21.14807,11.92405l-6.09201,1.69373l0,9.94734l0,9.94734l3.75,-0.6967c2.0625,-0.38318 6.96338,-1.94105 10.89085,-3.46193l0,0.00003zm-24.87868,-63.89703c0.21842,-30.96505 0.0331,-37.16692 -1.11045,-37.16692c-1.7397,0 -8.34254,4.45248 -10.85264,7.31824c-2.57893,2.94433 -6.63593,11.42219 -7.41194,15.48862c-0.85667,4.48911 -4.52796,6.90564 -8.05197,5.29999c-2.38417,-1.0863 -2.5461,-1.55989 -2.10455,-6.15512c1.21336,-12.62771 13.0838,-28.05731 24.30705,-31.59513l5.46233,-1.72184l0,-6.81738c0,-7.74721 0.0203,-7.73415 -8.5,-5.45782c-18.66167,4.98572 -32.11287,18.53878 -36.99239,37.27252c-3.04121,11.67601 -1.36064,26.35531 4.18352,36.54175c3.33146,6.12099 12.45406,14.86099 18.86281,18.0717c7.23301,3.62365 17.97141,6.84217 20.94606,6.27797c0.6397,-0.12133 1.09446,-13.58102 1.26217,-37.35658zm18.74713,34.74372c21.0647,-7.88132 30.77598,-41.27025 17.18594,-59.088c-5.22229,-6.84687 -12.2026,-10.87863 -22.94524,-13.25295l-2.75,-0.60779l0,37.51905c0,42.29719 -0.8118,38.91716 8.5093,35.42969z"
            ></path>
          </g>
        </g>
      </svg> -->
    </div>

    <div class="flex flex-col gap-1 lg:p-5 md:p-4">
      <h1
        class="flex justify-center content-center mb-5 text-4xl font-bold tracking-wide text-zinc-700 md:text-6xl lg:text-7xl dark:text-white"
      >
        Restore your inner balance
      </h1>
      <p
        class="px-2 mb-5 text-lg font-normal text-zinc-700 lg:text-xl 8 lg:px-16 dark:text-gray-400"
      >
        Relax and unwind with the gentle and soothing power of Reiki. Realigning
        your energy, easing stresses and nurturing your inner self.
      </p>

      <div
        class="flex flex-col items-center space-y-4 sm:flex-row sm:justify-center sm:w-auto sm:space-y-0"
      >
        <button
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-violet-500 hover:bg-violet-800 focus:ring-4 focus:ring-violet-300 dark:focus:ring-violet-900"
        >
          Contact
        </button>
      </div>
    </div>
  </div>
</div>
