---
import { Image } from "astro:assets";
import testImage from "../assets/openhands.jpg";
---

<div
  class="bg-violet-50 py-4 px-8 mx-auto max-w-screen-xl text-center lg:py-16"
>
  <div class="grid gap-5 grid-cols-1 lg:grid-cols-2 md:grid-cols-1">
    <div class="flex">
      <Image
        src={testImage}
        alt=""
        class="aspect-auto mx-auto rounded-xl lg:w-auto md:w-auto md:justify-center sm:w-auto sm:justify-center"
      />
    </div>
    <div
      class="border-4 p-4 border-violet-300 flex flex-col gap-1 lg:p-5 md:p-4"
    >
      <h1
        class="flex justify-center content-center mb-10 text-4xl font-bold tracking-wide text-zinc-700 md:text-6xl lg:text-7xl dark:text-white"
      >
        Restore your inner balance
      </h1>
      <p
        class="mb-8 text-lg font-normal text-zinc-700 lg:text-xl sm:px-8 lg:px-16 dark:text-gray-400"
      >
        Relax and unwind with the gentle and soothing power of Reiki to realign
        your energy, ease stresses and nurture your inner self.
      </p>

      <div
        class="flex flex-col items-center space-y-4 sm:flex-row sm:justify-center sm:w-auto sm:space-y-0"
      >
        <button
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-violet-500 hover:bg-violet-800 focus:ring-4 focus:ring-violet-300 dark:focus:ring-violet-900"
        >
          Contact
        </button>
      </div>
    </div>
  </div>
</div>
